<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Welcome to The Metro Station</h1>
<form action="#" th:action="@{./loginUser}" th:object="${command}" method="post">
Enter Card Number : <input type="text" th:field="*{userId}"><br><br>
Enter Password : <input type="password" th:field="*{password}"><br><br>
<input type="submit" value="Login">
<input type=button onClick="location.href='./signUpPage'" value='Sign Up'>
</form>
<br><br>
<p th:text="${message}" style="color: red"></p>
</body>
</html>