<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 align = "center">Metro Station</h1>
	<h2 style="color:blue;" th:text="'Welcome '+${session.user.firstName}+'!'"></h2>
	<h2 align = "right" th:text="'Your card number is: '+${session.user.userId}"></h2>
	<h2 align = "right" th:text="'Your card number is: '+${session.user.salary}"></h2>
<br><br>
	<form action="./LogJourney" method = "get">
	Start : <select  name="start">
	<option value=1>London</option>
	<option value=2>2</option>
	<option value=3>3</option>
	<option value=4>4</option>
	<option value=5>5</option>
	</select><br><br>
	Dest : <select  name="dest">
	<option value=1>1</option>
	<option value=2>2</option>
	<option value=3>3</option>
	<option value=4>4</option>
	<option value=5>5</option>
	</select><br><br>
	<input type="submit" value="ConfirmJourney">
	
	</form>
	<a href="./menu">GoTo Menu Page</a>
</body>
</html>