<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 align = "center">Metro Station</h1>
	<h2 style="color:blue;" th:text="'Welcome '+${session.user.firstName}+'!'"></h2>
	<h2 align = "right" th:text="'Your card number is: '+${session.user.userId}"></h2>
	<h2 align = "right" th:text="'Your card number is: '+${session.user.salary}"></h2>
<br><br>
	<form action="#" th:action="@{./LogJourney}" th:object="${journey}" method="post">
		Enter Starting Station: <select th:field="*{stationName}">
			<option th:each="stationName : ${stationNames}" th:value="${stationName}" th:text="${stationName}"></option>
			</select><br> <br> 
		Enter End Station: <select th:field="*{stationName}">
			<option th:each="stationName : ${stationNames}" th:value="${stationName}" th:text="${stationName}"></option>
			</select><br> <br> 	
		<input type="submit" value="submit">
	</form>
	<p th:text="${message}" style="color: red"></p>
	<a href="./menu">GoTo Menu Page</a>
</body>
</html>