<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1 align = "center">Metro Station</h1>
	<hr>
	<h2 style="color:blue;" th:text="'Welcome '+${session.user.firstName}+'!'"></h2>
	<h2 align = "right" th:text="'Your card number is: '+${session.user.userId}"></h2>
	<h2 align = "right" th:text="'Your card number is: '+${session.user.salary}"></h2>
	<hr>
<form action="#" th:action="@{./journeyPlanner}" th:object="${command}" method="post">
		Select starting station : <select th:field="*{statName}">
			<option th:each="stationName : ${statName}" th:value="${stationName}" th:text="${stationName}"></option>
		</select><br> <br> 
		Select destination station : <select th:field="*{statName}">
			<option th:each="stationName : ${statName}" th:value="${stationName}" th:text="${stationName}"></option>
		</select><br> <br> 
		<button value="">Confirm Selection</button><br></br>
	</form>
<br><br>
<p th:text="${message}" style="color: red"></p>
</body>
</html>